:root {
    --faceSize: 100px;
    --movementSize: 50px;
    --rotateSize: -50px;
}

body {
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #36393F;
}

nav {
    position: sticky;
    width: 100%;
    background: #36393F;
    margin-top: -10px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 20px;
}

li {
    list-style-type: none;
    margin: 10px 10px;
}

li a {
    color: white;
    text-decoration: none;
    font-family: 'Exo', sans-serif;
    padding: 8px;
}

li a::selection {
    color: none;
    background: none;
}

.contact {
    background: white;
    color: #36393F;
    border: solid 1px #36393F;
}

.contact:hover {
    background: #36393F;
    color: white;
    border: solid 1px white;
}

.hero {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background: #36393F;
    color: white;
    top: 0px;
    margin: 0px;
    padding: 0px;
}

.heroInfo {
    display: flex;
    opacity: 0;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0.3s;
}

.callToASect {
    margin-bottom: 50px;
}

.hero {
    padding-bottom: 50px;
}

.hero div button {
    border: solid white 3px;
    background: #36393F;
    color: white;
    padding: 10px;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

.hero div button:hover {
    background: white;
    color: #36393F;
    cursor: pointer;
}

.hero div button::selection {
    color: none;
    background: none;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 70px;
    text-shadow: gray 2px 2px 0px;
}

.subHead {
    font-size: 17px;
    max-width: 400px;
    margin-top: -30px;
    font-family: 'Roboto', sans-serif;
}

.heroGraphic img {
    position: absolute;
    width: 0;
    height: 0;
    z-index: 20;
    right: 100px;
    animation-name: animatedSVG;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0.3s;
}

@keyframes animatedSVG {
    from {
        opacity: 0;
        height: 450px;
        width: 450px;
    }
    to {
        opacity: 1;
        width: 500px;
        height: 500px;
    }
}

.animatedSquare1 {
    position: relative;
    top: 300px;
    right: -200px;
    background: #2C55FF;
    box-shadow: black 0px 0px 10px;
    perspective: 500px;
    z-index: 0;
    animation-name: animatedSquare1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0.2s;
}

.animatedSquare2 {
    position: relative;
    top: 0px;
    right: 200px;
    background: #D63E36;
    box-shadow: black 0px 0px 10px;
    perspective: 500px;
    z-index: 0;
    animation-name: animatedSquare2;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
}

.animatedSquare3 {
    position: relative;
    top: -400px;
    right: -300px;
    background: #FFF083;
    box-shadow: black 0px 0px 10px;
    perspective: 500px;
    z-index: 0;
    animation-name: animatedSquare3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes animatedSquare3 {
    0% {
        width: 0px;
        height: 0px;
        transform: rotateX(0deg);
        transform: rotateY(0deg);
    }
    100% {
        height: 300px;
        width: 200px;
        transform: rotateX(5deg);
        transform: rotateZ(10deg);
    }
}

@keyframes animatedSquare2 {
    0% {
        width: 0px;
        height: 0px;
        transform: rotateX(0deg);
        transform: rotateY(0deg);
    }
    25% {}
    50% {
        height: 10px;
    }
    100% {
        height: 300px;
        width: 500px;
        transform: rotateX(5deg);
        transform: rotateZ(10deg);
    }
}

@keyframes animatedSquare1 {
    0% {
        width: 0px;
        height: 0px;
        transform: rotateX(0deg);
        transform: rotateY(0deg);
    }
    25% {
        height: 100px;
        width: 300px;
    }
    100% {
        height: 100px;
        width: 300px;
        transform: rotateX(50deg);
        transform: rotateZ(45deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(-5px);
    }
}

.about {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 50px;
    animation-name: backgroundFade;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
    animation-delay: 0.3s;
}

@keyframes backgroundFade {
    from {
        background: #36393F;
    }
    to {
        background: white;
    }
}

.aboutInfo {
    max-width: 600px;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    margin: 0px 40px;
    font-size: 20px;
    opacity: 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: 0.9s;
    animation-delay: 0.5s;
}

.cubeHolder {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-top: 90px;
}

.cubeCanvas {
    width: var(--faceSize);
    height: var(--faceSize);
    margin: 0px 20px;
}

.cube {
    width: var(--faceSize);
    height: var(--faceSize);
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(0px);
    transition: transform 2s;
}

.cube1 {
    width: var(--faceSize);
    height: var(--faceSize);
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(0);
    transition: transform 1s;
}

.cube2 {
    width: var(--faceSize);
    height: var(--faceSize);
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(0px);
    transition: transform 1s;
}

.cube.show-O {
    transform: translateZ(var(--rotateSize)) rotateY( 0deg);
}

.cube.show-U {
    transform: translateZ(var(--rotateSize)) rotateY(-90deg);
}

.cube.show-I {
    transform: translateZ(var(--rotateSize)) rotateY(-180deg);
}

.cube.show-O2 {
    transform: translateZ(var(--rotateSize)) rotateY( 90deg);
}

.cube.show-I2 {
    transform: translateZ(var(--rotateSize)) rotateX( -90deg);
}

.cube.show-U2 {
    transform: translateZ(var(--rotateSize)) rotateX( 90deg);
}

.cube__face {
    position: absolute;
    width: var(--faceSize);
    height: var(--faceSize);
    line-height: var(--faceSize);
    font-size: 70px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
}

.cube__face::selection {
    color: none;
    background: none;
}

.cube__face {
    background: white;
    font-family: 'Exo', sans-serif;
}

.cube__face--O {
    transform: rotateY( 0deg) translateZ(var(--movementSize));
}

.cube__face--U {
    transform: rotateY( 90deg) translateZ(var(--movementSize));
}

.cube__face--I {
    transform: rotateY(180deg) translateZ(var(--movementSize));
}

.cube__face--O2 {
    transform: rotateY(-90deg) translateZ(var(--movementSize));
}

.cube__face--I2 {
    transform: rotateX( 90deg) translateZ(var(--movementSize));
}

.cube__face--U2 {
    transform: rotateX(-90deg) translateZ(var(--movementSize));
}

h2 {
    font-family: 'Exo', sans-serif;
    font-size: 40px;
}

.services {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    animation-name: backgroundFade;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
    animation-delay: 0.3s;
}

.card {
    font-family: 'Roboto', sans-serif;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #36393F;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

.contactUs {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-bottom: 50px;
    opacity: 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: 0.9s;
    animation-delay: 1.2s;
}

.contactUs div {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.contactInfo p {
    max-width: 500px;
    text-align: right;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 700px;
    font-family: 'Roboto', sans-serif;
}

.contactInfo ul {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width:1367px) {
    @keyframes animatedSVG {
        from {
            opacity: 0;
            height: 250px;
            width: 250px;
        }
        to {
            opacity: 1;
            width: 300px;
            height: 300px;
        }
    }
    .animatedSquare1 {
        top: 200px;
        right: 0px;
    }
    .animatedSquare2 {
        top: 90px;
        right: 200px;
    }
    .animatedSquare3 {
        top: -90px;
        right: -100px;
    }
    @keyframes animatedSquare3 {
        0% {
            width: 0px;
            height: 0px;
            transform: rotateX(0deg);
            transform: rotateY(0deg);
        }
        100% {
            height: 100px;
            width: 50px;
            transform: rotateX(5deg);
            transform: rotateZ(10deg);
        }
    }
    @keyframes animatedSquare2 {
        0% {
            width: 0px;
            height: 0px;
            transform: rotateX(0deg);
            transform: rotateY(0deg);
        }
        25% {}
        50% {
            height: 10px;
        }
        100% {
            height: 100px;
            width: 200px;
            transform: rotateX(5deg);
            transform: rotateZ(10deg);
        }
    }
    @keyframes animatedSquare1 {
        0% {
            width: 0px;
            height: 0px;
            transform: rotateX(0deg);
            transform: rotateY(0deg);
        }
        25% {
            height: 50px;
            width: 100px;
        }
        100% {
            height: 50px;
            width: 100px;
            transform: rotateX(50deg);
            transform: rotateZ(45deg);
        }
    }
}

@media only screen and (max-width:1133px) {
    .about h2,
    .about p {
        text-align: center;
    }
    iframe {
        width: 75%;
    }
}

@media only screen and (max-width:900px) {
    .heroInfo {
        padding-left: 20px;
    }
    @keyframes animatedSVG {
        from {
            opacity: 0;
            height: 50px;
            width: 50px;
        }
        to {
            opacity: 1;
            width: 100px;
            height: 100px;
        }
    }
    .heroGraphic img {
        top: 100px;
    }
    .animatedSquare1 {
        top: 10px;
        right: 50px;
    }
    .animatedSquare2 {
        top: 10px;
        right: 100px;
    }
    .animatedSquare3 {
        top: -50px;
        right: 20px;
    }
    @keyframes animatedSquare3 {
        0% {
            width: 0px;
            height: 0px;
            transform: rotateX(0deg);
            transform: rotateY(0deg);
        }
        100% {
            height: 100px;
            width: 50px;
            transform: rotateX(5deg);
            transform: rotateZ(10deg);
        }
    }
    @keyframes animatedSquare2 {
        0% {
            width: 0px;
            height: 0px;
            transform: rotateX(0deg);
            transform: rotateY(0deg);
        }
        25% {}
        50% {
            height: 10px;
        }
        100% {
            height: 50px;
            width: 100px;
            transform: rotateX(5deg);
            transform: rotateZ(10deg);
        }
    }
    @keyframes animatedSquare1 {
        0% {
            width: 0px;
            height: 0px;
            transform: rotateX(0deg);
            transform: rotateY(0deg);
        }
        25% {
            height: 10px;
            width: 0px;
        }
        100% {
            height: 25px;
            width: 100px;
            transform: rotateX(50deg);
            transform: rotateZ(45deg);
        }
    }
}

@media only screen and (max-width:500px) {
    .heroGraphic img {
        display: none;
    }
    .animatedSquare1 {
        display: none;
    }
    .animatedSquare2 {
        display: none;
    }
    .animatedSquare3 {
        display: none;
    }
}

@media only screen and (max-width:455px) {
    h1 {
        font-size: 40px;
        word-wrap: break-word;
    }
    h2 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 419px) {
    .cube__face {
        width: 50px;
        height: 50px;
    }
     :root {
        --faceSize: 50px;
        --movementSize: 25px;
        --rotateSize: -25px;
    }
    .cube__face {
        font-size: 50px;
    }
}